

# Dependencies
node_modules/

curl -fsSL https://railway.app/install.sh | sh

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Test coverage
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db